# Created by https://www.gitignore.io/api/text
# Edit at https://www.gitignore.io/?templates=text

### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps

### Zip ###
*.zip

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py


# End of https://www.gitignore.io/api/text

